::-webkit-scrollbar {
		width: 0;
		height: 0;
		}
	#marker {
		left: 0;
		top: 1px;
		color: red;
		display: block;
		position: fixed;
		}
	#reply {
		left: 0;
		top: 10px;
		display: block;
		font-weight: bold;
		font-style: italic;
		position: absolute;
		}
	#carlson {
		top: 10px;
		left: -100px;
		display: block;
		position: absolute;
		}
	#malina {
		left: 0;
		top: 100px;
		display: none;
		position: absolute;
		}
