	::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	#marker {
	color: red;
	position:fixed;
	top: 1px;
	left: 0;
	}
	#reply {
		left: 0;
		top: 10px;
		position: absolute;
		display: block;
		font-style: italic;
		font-weight: bold;
	}
	#carlson {
		left: 0;
		top: 10px;
		position: absolute;
		display: block;
		}
	#malina {
		left: 0;
		top: 100px;
		position: absolute;
		display: none;
		}